/* EntityCreate.css */

.form-createEntity {
  display: flex;
  flex-direction: column;
 
  height: 100%; 
  overflow: hidden; 
}

/* --- Área dos Tabs --- */
.container-tabs {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 15px; 
  border-bottom: 1px solid #f0f0f0;
  flex-shrink: 0; 
  margin-bottom: 10px;
}

.radio-group {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  cursor: pointer;
  color: #444;
}


.container-body {
  flex: 1;             
  min-height: 0;       
  overflow-y: auto;     
  display: flex;
  flex-direction: column;
  gap: 12px;            
  padding-right: 5px;   
  padding-bottom: 5px; 
}


.container-body::-webkit-scrollbar {
  width: 6px;
}
.container-body::-webkit-scrollbar-track {
  background: transparent;
}
.container-body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}


.container-buttons {
  padding-top: 15px;
  margin-top: 10px; 
  border-top: 1px solid #f0f0f0; 
  display: flex;
  justify-content: flex-end; 
  flex-shrink: 0; 
  gap: 15px;
}