


.card-ongRequest {
    width: 100%;
    max-width: 400px;

    position: relative;
    

    margin: 0 auto;
    padding: 16px;

    background-color: white;


    
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 8px;


    .badge {
        display: inline-block;
        padding: 4px 8px;


        position: absolute;
        top: 16px;
        right: 16px;

        background-color: #F5F5F5;
        border-radius: 4px;

        font-size: 12px;
        font-weight: 600;
        color: #333333;
    }


    .container-objective {
        margin-top: 12px;
        height: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        

        p:first-child {
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 3px;
        }
        p:last-child {
            font-size: 14px;
            color: #5c5c5c;
        }

    }


    .container-infos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;

        margin: 20px 0;
        padding-top: 20px;

        border-top: 1px solid rgb(0, 0, 0, 0.1);

        .row-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;

            font-size: 14px;
            color: #5c5c5c;
        }
    }



    .container-actions {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;

        

        .btn-documents, .btn-reject, .btn-approve {
            all: unset;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            padding: 8px 12px;

            border: 1px solid rgb(0, 0, 0, 0.2);
            border-radius: 4px;
            
            cursor: pointer;

            transition: 0.5s;
        }

        .btn-documents {
            flex: 1 1 100%;

            background-color: #ffffff;


            &:hover {
                background-color: #f5f5f5;
            }
        }

        .btn-reject, .btn-approve {
            flex: 1 1 20%;
        }

        .btn-reject {
            background-color: #ffffff;
            border-color: #ff4d4d;
            color: #ff4d4d;

            &:hover {
                background-color: #ff4d4d;
                color: #ffffff;
            }
        }

        .btn-approve {
            background-color: #ffffff;
            border-color: #2bb673;
            color: #2bb673;

            &:hover {
                background-color: #2bb673;
                color: #ffffff;
            }
        }

        @media (max-width: 600px) {
            .btn-reject,
            .btn-approve {
                flex-basis: 100%; 
            }
        }
    }
}