.lista-itens {
    list-style: none;


    li {
        display: flex;
        gap: 15px;

        padding: 20px;
        margin-bottom: 1rem;

        border: 1px solid rgba(0, 0, 0, 0.102);
        border-radius: 10px;

        .container-icon {
            
            font-size: 20px;
        }

        .container-texts {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 5px;

            div {
                display: flex;
                justify-content: space-between;

                font-weight: 500;
                font-size: 16px;
                

                .i-price {
                    color: #333;
                }
            }
            
            .i-desc {
                font-size: 12px;
                font-weight: 00;
                color: #5c5c5c;

                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .btn-donation {

            margin-top: 10px;

            align-self: end;

            padding: 8px 10px;

            display: inline-flex;
            gap: 1rem;
            justify-content: space-evenly;
            align-items: center;
            font-size: 14px;

            background-color: white;

            border: 1px solid #ddd;
            border-radius: 6px;
            color: #333;

            &:hover {
                background-color: #eee;
                cursor: pointer;
            }
        }
    }
}