.ul-tabs {
    list-style: none;
    padding: 0;
    gap: 0.5rem; 
    display: flex;
    flex-direction: column;
    width: 100%; 

    margin-top: 10px;

    li {
        width: 100%;

    }


    label {
        display: block;
        width: 100%;
        padding: 10px 12px;
        font-weight: 500;
        color: #444; 
        
        cursor: pointer;
        transition: background-color 0.2s ease, color 0.2s ease;
        user-select: none; 

        &:hover {
            background-color: #e9ecef; 
            color: #111;
        }
    }

    input[type="radio"] {
        display: none;
    }

    input[type="radio"]:checked+label {
        background-color: #2bb673; 
        color: #ffffff; 
        font-weight: 600;

        
        &:hover {
            background-color:   #2bb673; 
        }
    }
}

.ong-container {
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
}