
.card-section {
    padding: 1rem 1.5rem;

    background: white;

    border: 1px solid rgba(0, 0, 0, 0.102);
    border-radius: 10px;


    .card-header {
        margin-bottom: 20px;

        h1 {
            font-size: clamp(0.8rem, 1rem, 2rem);
            font-weight: 600;
        }

        h2 {
            font-size: clamp(0.5rem, 0.8rem, 1.5rem);
            color: #828282;
            font-weight: 500;
        }
    }
}



