.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  background-color: white;
  flex-wrap: wrap; /* para ficar responsivo */
}

.hero-text {
  max-width: 600px;
  flex: 1 1 300px; /* cresce e encolhe conforme a tela */
}

.hero-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 1rem;
  color: black;
}

.hero-subtitle {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
}

.hero-image {
  margin-top: 2rem;
  flex: 0 1 600px;
  display: flex;
}

.hero-image img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 10px;
  filter:blur(0.7px);
}

@media (max-width: 720px) {
  .hero-section {
    padding: 1.2rem 2rem;
    padding-bottom: 3rem;
  }
}