input,
textarea,
select,
option {
    border: none;
    outline: none;
    text-overflow: ellipsis;
    all: none;
}



.container-input {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;

    font-weight: 600;
}

.default {
    font-size: clamp(0.8rem, 1rem, 2rem);
}

.compact {
    font-size: clamp(0.5rem, 0.8rem, 1rem);
}



.input-icon-container {
    position: relative;

    display: flex;
    align-items: center;

    gap: 1rem;

    padding: 12px 15px;

    background-color: #fff;
}


.borders {
    border: 1px solid #ccc;
    border-radius: 8px;
}

.outline-border {
    padding: 12px 15px;
    border-bottom: 1px solid #ccc;
}

.input-field {
    flex: 1;
}

.text-area-field {
    padding: 10px 15px;
    min-height: 100px;

    resize: vertical;
}

.select-field {
    background-color: white;
    cursor: pointer;

    padding: 10px 15px;

    option {
        color: #666666;

    }
}


/* --- Focus Styles --- */

/* 1. Para inputs com borda completa (padrão) */
.input-icon-container.borders:focus-within {
    border-color: #333;
    box-shadow: 0 0 0 1px #333;
    /* Contorno completo */
}

/* 2. Para inputs com apenas borda inferior (outline-border) */
.input-icon-container.outline-border:focus-within {
    border-bottom-color: #333;
    /* Box shadow apenas embaixo para simular espessura */
    box-shadow: 0 1px 0 0 #333;
}

/* Para TextAreas e Selects (que são sempre borders por enquanto) */
.text-area-field:focus,
.select-field:focus {
    border-color: #333;
    box-shadow: 0 0 0 1px #333;
}