
input, textarea {
    border: none;
    outline: none;
    text-overflow: ellipsis;
}



.container-input {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;

    font-weight: 600;
}

.default {
    font-size: clamp(0.8rem, 1rem, 2rem);
}

.compact {
    font-size: clamp(0.5rem, 0.8rem, 1rem);
}



.input-icon-container {
    position: relative;

    display: flex;
    align-items: center;

    gap: 1rem;

    padding: 12px 15px;

    background-color: #fff;
}


.borders {
    border: 1px solid #ccc;
    border-radius: 8px;
}

.outline-border {
    padding: 12px 15px;
    border-bottom: 1px solid #ccc;
}

.input-field {
    flex: 1;
}

.text-area-field {
    padding: 10px 15px;
    min-height: 100px;

    resize: vertical;
}