.container-cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 10px;

    .card-section {
        height: 150px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
        
        span {
            font-size: 24px;
        }
    }

}

.container-ongs {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}