/* .container-cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 10px;

    .card-section {
        height: 150px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
        
        span {
            font-size: 24px;
        }
    }

} */

.container-ongs {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.container-filters {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    align-items: center ;

    div:last-child {
        flex: 1;
    }
}


.filter-status-ongs {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}