.form-container {
    width: 100%;
    max-width: 400px;
    min-height: 300px;
    


    padding: 20px;
    margin: 15px auto;

    display: flex;
    flex-direction: column;
    gap: 20px;


    background: #fff;

    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    font-size: 24px;
    color: #333;
}

.form-container p {
    color: #666;
    font-size: 14px;
}