
input, textarea {
    border: none;
    outline: none;
    text-overflow: ellipsis;
}

textarea {
    resize: vertical;
}


.container-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}



.input-field {
    padding: 15px;

    border: 1px solid #ccc;
    border-radius: 8px;
}

.input-field.with-icon {
}