.our-impact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 2rem;
    background-color: white;
    flex-wrap: wrap;
    gap: 2rem;
}


.impact-text {
    max-width: 600px;
    flex: 1 1 300px;
    
}



/* CARDS */
.impact-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 1.5rem 0;
}

.card {
    background-color: #ffffff;
    padding: 1.2rem;
    border-radius: 10px;
    

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    transition: all 0.3s ease;
    border: 1px solid #eee;

    &:hover, &:focus, &:active {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    div {
        padding: 10px;

        border-radius: 5px;

        background-color: #84fa842f;

        svg {
            color: #079c07;
            font-size: 1.2rem;
        }
    }

    span:nth-of-type(1) {
        font-weight: 700;
        font-size: 1rem;
    }

    span:nth-of-type(2) {
        font-weight: 400;
        color: #666666;
        font-size: 0.8rem;
    }
}



/* IMAGEM PRINCIPAL */
.impact-media {
    flex: 0 1 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-impact-img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    object-fit: cover;
    filter: blur(0.7px);
    /* igual teu exemplo */
}

/* MINIATURAS */
.impact-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .8rem;
}

.impact-images img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    object-fit: cover;
}

/* RESPONSIVO */
@media (max-width: 720px) {
    .our-impact {
        padding: 1.2rem 2rem;
        padding-bottom: 3rem;
    }

    .impact-media {
        flex: 1 1 100%;
    }

    .impact-images {
        grid-template-columns: repeat(3, 1fr);
    }
}