.container-page {

    max-width: 800px;;
    display: grid;
    gap: 20px;
    
    margin: 0 auto;
    padding-bottom: 2rem;
    

    aside {
        grid-area: aside;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    main {
        grid-area: main;
    }
}

.a-left {
    grid-template-columns: 280px 1fr 1fr;

    grid-template-areas:
    "nav nav nav"
    "aside main main";
}

.a-right {
    grid-template-columns: 1fr 1fr 280px;

    grid-template-areas:
    "nav nav nav"
    "main main aside"
}

.mobile {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "nav nav nav"
    'main main main'
    "aside aside aside";
}

.mobile-user {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "nav nav nav"
    "aside aside aside"
    'main main main';
}

/* O container <nav> que segura os rádios */
.tabs-nav {
    grid-area: nav; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    background: white;

    border: 1px solid #0000001a;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 24px; 
}

.radio-tab-item {
    display: block;

    input[type="radio"] {
        display: none;
    }
}

/* Estiliza a <label> para parecer uma aba */
.radio-tab-item label {
    display: block;
    text-align: center;
    padding: 12px ;
    cursor: pointer;
    color: #666; /* Cor da aba inativa */
    font-weight: 500;
    font-size: 0.8rem;
    /* Borda inativa */
    border-bottom: 3px solid transparent; 
    transition: all 0.2s ease;
}

/* Estilo da ABA ATIVA (quando o radio está :checked) */
.radio-tab-item input[type="radio"]:checked + label {
    color: #333; /* Cor da aba ativa */
    /* Você pode usar seu verde aqui, se quiser */
    border-bottom-color: #333; /* Cor da linha ativa (como na imagem) */
}

/* Efeito hover para abas inativas */
.radio-tab-item input[type="radio"]:not(:checked) + label:hover {
    color: #333;
    border-bottom-color: #e0e0e0; 
}
