* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Secao-doadores {
  padding: 60px 0;
  background-color: white;
}

.Container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.Apresentação_conteudo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  margin-bottom: 60px;
}

.Texto-conteudoDoador {
  flex: 1;
}

.Texto-conteudoDoador h1 {
  margin-bottom: 20px;
  color: rgba(18, 66, 52, 1);
  font-size: 96px;
}

.Texto-conteudoDoador p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  line-height: 1.6;
}

.Botao {
  display: inline-block;
  padding: 12px 30px;
  background: linear-gradient(45deg, #FFD600, #4AC47F);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.Botao:hover {
  opacity: 0.9;
}

.Imagem-conteudo {
  flex: 1;
}

.Imagem-conteudo img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.Conteudo-principal {
  background-color: #e9ecef;
}

footer {
  text-align: center;
  padding: 60px 20px;
  background-color: #f8f9fa;
}

.BotoesDoacao {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.contato-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.contato-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba(18, 66, 52, 1);
  font-size: 24px;
}

.contato-icone {
  max-height: 30px;
  width: auto;
}

/* Responsividade */
@media (max-width: 992px) {
  .Apresentação_conteudo {
    flex-direction: column;
    text-align: center;
  }

  .Texto-conteudoDoador h1 {
    font-size: 60px;
  }

  .Titulo-Sobre h1 {
    font-size: 60px;
  }

  .Titulo-Sobre p {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .Texto-conteudoDoador h1 {
    font-size: 40px;
  }

  .Titulo-Sobre h1 {
    font-size: 40px;
  }

  .Titulo-Sobre p {
    font-size: 16px;
  }

  .BotoesDoacao {
    flex-direction: column;
    gap: 20px;
  }

  .contato-container {
    flex-direction: column;
    gap: 20px;
  }
}
