body {
    background: #f3f6fa;
    font-family: "Inter", sans-serif;
    margin: 0;
    background: #f3f6fa;
    font-family: "Segoe UI", Arial, sans-serif;
}

/* main centraliza só o form */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
    /* altura da tela menos o header */
    padding: 20px;
}

.form-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

/*
 * Por obséquio revisor de código que futuramente lerá a minha mensagem deixada com todo o esmero
 * decida manter ou remover a logo.
*/
.logo {
  /*  display: none;*/
}

.logo img {
    width: 50px;
}

.logo h2 {
    color: #2bb673;
    margin: 5px 0 20px;
}

h2 {
    font-size: 2rem;
}

h1 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 5px;
}

p {
    color: #666;
    font-size: 0.6rem;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group input {
    width: 80%;
    padding: 12px 40px 12px;
    border: none;
    outline: none;
    font-size: 14px;
}

.input-group .icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    color: #666;
}

.checkbox {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    font-size: 12px;
    color: #555;
    text-align: left;
    margin: 15px 0;
}

.checkbox input {
    margin-top: 3px;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #2bb673;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background: #239d61;
}

.login-link {
    margin-top: 15px;
}

.login-link a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 8px 12px;
    border-radius: 6px;
    display: inline-block;
}
