.container-modal {
    height: 80%;
    width: 100%;
    max-width: 600px;

    display: flex;
    flex-direction: column;

    background-color: white;

    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 8px;

    position: fixed;
    z-index: 3000;

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 16px;

        border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    }

    .modal-body {
        flex: 1;

        padding: 16px;

        overflow-y: auto;
    }

    .modal-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        padding: 16px;

        border-top: 1px solid rgb(0, 0, 0, 0.1);
    }

}