.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* 👈 AGORA FICA NO TOPO */
  gap: 3rem;
  padding: 4rem 8%;
  background-color: #f9f9f9;
  flex-wrap: wrap;
}

.contact-left {
  flex: 1;
  min-width: 300px;
}


.contact-right {
  flex: 1;
  min-width: 300px;
}


/* Responsividade */
@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    text-align: center;
  }

  .contact-left p {
    margin: 0 auto;
  }

  .contact-right {
    width: 100%;
  }
}
