.video-player {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 12px;
  max-width: 50rem;
  margin: 0 auto;
  /* centraliza */
}

.video-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: black;
}

.video-subtitle {
  font-size: 1.1rem;
  font-weight: normal;
  text-align: center;
}

.video-description {
  font-size: 1rem;
  text-align: center;
  color: #555;
  line-height: 1.5;
  max-width: 700px;
}

.video-element {
  width: 100%;
  border-radius: 20px;
  aspect-ratio: 16 / 9;
  background: #000;
}