.our-impact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 2rem;
    background-color: white;
    flex-wrap: wrap;
    gap: 2rem;
}


.impact-text {
    max-width: 600px;
    flex: 1 1 300px;
}

.impact-text h2 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 1rem;
    color: black;
}

.impact-text p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.5;
}

/* CARDS */
.impact-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1rem;
    margin: 1.5rem 0;
}

.card {
    background: #ffecec;
    padding: 1.2rem;
    border-radius: 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4rem;
}

.card strong {
    font-size: 1.8rem;
    font-weight: 700;
    color: rgb(7, 156, 7);
    line-height: 1;
}

.card span {
    font-size: 1rem;
    color: #333;
    line-height: 1.3;
}

/* IMAGEM PRINCIPAL */
.impact-media {
    flex: 0 1 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-impact-img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    object-fit: cover;
    filter: blur(0.7px);
    /* igual teu exemplo */
}

/* MINIATURAS */
.impact-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .8rem;
}

.impact-images img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    object-fit: cover;
}

/* RESPONSIVO */
@media (max-width: 720px) {
    .our-impact {
        padding: 1.2rem 2rem;
        padding-bottom: 3rem;
    }

    .impact-media {
        flex: 1 1 100%;
    }

    .impact-images {
        grid-template-columns: repeat(3, 1fr);
    }
}