.footer {
  background: linear-gradient(180deg, #f9f9f9, #cbcbcb);
  color: black;
  padding: 3rem 2rem 1.5rem;
  font-family: "Inter", sans-serif;
}

.footer-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr)); /* 220px */
  gap: 2.5rem;
  max-width: 80rem;
  margin: 0 auto;
}

.footer-section h3 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: rgba(0.1, 0.1, 0.1, 0.7);
}

.footer-section p {
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.6;
  font-size: 0.95rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin-bottom: 0.7rem;
  color: rgba(0.1, 0.1, 0.1, 0.8);
  display: flex;
  align-items: start;
  gap: 0.6rem;
}

.footer-section a {
  color: rgba(0.1, 0.1, 0.2, 0.8);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-section a:hover {
  color: black;
}

.footer-socials {
  display: flex;
  gap: 0.7rem;
  margin-top: 1rem;
}

.footer-socials a {
  width: 2.375rem; 
  height: 2.375rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cbd5e1;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.footer-socials a:hover {
  background-color: #0284c7;
  color: black;
}

.icon {
  width: 1.125rem;
  height: 1.125rem;
  flex-shrink: 0;
  opacity: 0.9;
}

.footer-bottom {
  border-top: 0.0625rem solid #334155;
  margin-top: 2.5rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-bottom p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9rem;
}

.footer-legal {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-legal a {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.footer-legal a:hover {
  color: #fff;
}

@media (max-width: 720px) {
  .footer {
    padding: 2rem 1rem;
  }

  .footer-section h3 {
    font-size: 1rem;
  }

  .footer-section p,
  .footer-section a {
    font-size: 0.85rem;
  }

  .footer-socials a {
    width: 2.125rem; 
    height: 2.125rem;
  }
}