


/* garante coluna (header no topo) e evita centralizar tudo */
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* ESSENCIAL: coloca header em cima e conteúdo abaixo */
}

/* conteúdo fica responsável por crescer */
.App-main {
  flex: 1;
  padding: 2rem;
}



.read-the-docs {
  color: #888;
  font-size: 0.9rem;
}




.title-section  {
  font-size: 40px;
  flex: 1;
  margin-bottom: 10px;
}

.subtitle-section {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 3rem;
}