.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
  
  .input-row .input {
    flex: 1;
  }