
.form-editEntity {

    .container-input {
        margin-bottom: 1rem;
    }

    .container-buttons {
        display: flex;
        gap: 1rem;
    
        margin-top: 20px;
    
        justify-content: flex-end;
    }
    
}